*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.containerHead{
    max-width: 100%;
    margin: 0 auto;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%  

}
.content{
    width: 100%;
    display: flex; 
}

.align-center{
    align-items: center;
}
.col-50{
    width: 50%;
 
}

/* SECONDO SETTORE */
.bg-cyan{
    background-color:#B4D0E7;
}
.containerMid{
    width: 800px;
    margin: auto;
    
}
.col-35{
    width: 35%;
    
}
.col-65{
    width: 65%;
    
}

/* CONTAINER SMALL */
.containerSmall{
    width: 700px;
    margin: auto;
   
}
.gap{
    gap:10px
}
.col-33{
    width: calc(100% / 3 - 10px);
    
    
}
.col-100{
    width: 100%;
    
   
}
.col-60{
    width: 60%;
    border: 1px dotted black;
   
}
.col-40{
    width: 40%;
    border: 1px dotted black;
    
}

.height{
    height: 500px
}
.flex-wrap{
    flex-wrap: wrap;
}
.col-16{
    width: calc(100% / 6);
}
.bg-green{
    background-color: green;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px
}
li{
    list-style-type: none ;
    
}
.justify-end{
    justify-content: flex-end
}
.padding-7-15{
    padding: 7px 15px;
}
.padding{
    padding: 10px
}
img{
    max-width: 100%;
}
button{
    padding: 10px 10px;
    background-color: #0061FF;
    border-style: none;
    color: #fff;
}
h1{
    font-size: 50px;
}
.margin-top{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.fontsize{
    font-size: 12px;
}
i{
    font-size: 40px
}
.padding-top{
    padding-top: 50px;
}
.text-center{
   justify-content: center;
   align-items: center;
}

.border-solid{
    border: 1px solid grey;
}
.text-grey{
    color:lightgray
}
.padding-25{
    padding:25px
}
hr{
    width: 50px;
    color:lightgrey;
}
.display-flex{
    display:flex;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 50px;
}
.height-700{
    height: 700px;
}
.space-between{
    justify-content: space-between;
}