*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* IMMAGINI */
header{
    background-color: #fff;
    position: fixed;
    z-index: 1;
    width: 100%;
}
img{
    width: 100%;
}

/* SIZE E STILE TESTO*/

h1{
    font-size: 50px;
}
.fontsize{
    font-size: 14px;
}
.fontsize20{
    font-size: 20px;
}

i{
    font-size: 40px
}
.icon-size{
    font-size: 15px
}
.text-grey{
    color:lightgray
}
li{
    display: flex;
}

/* CONTAINER */

.containerFull{
    max-width: 100%;
    margin: 0 auto; 
    
}
.containerMid{
    max-width: 900px;
    margin: auto; 
}
.containerSmall{
    max-width: 750px;
    margin: auto;
}

/* ROW */

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
/* CONTENT */

.content{
    width: 100%;
    display: flex; 
}
.content-noflex{
    width: 100%;
}
/* ALIGN */

.align-center{
    align-items: center;
}


/* SECONDO SETTORE */

.bg-cyan{
    background-color:#B4D0E7;
    
}

/* COLONNE */

.col-16{
    width: calc(100% / 6);
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3 - 10px); 
}
 
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
    
}
.col-60{
    width: 60%; 
    
}

.col-70{
    width: 70%;
}
.col-100{
    width: 100%;  
}


/* ALTEZZA */

.height{
    height: 500px
}

/* STILE LISTA */

ul{
    display: flex;
    align-items: center;
    gap: 20px
}
li{
    list-style-type: none ;
    
}

/* POSIZIONAMENTO TESTO/OGGETTI */

.justify-end{
    justify-content: flex-end
}
.text-center{
    justify-content: center;
    align-items: center;
}
 .space-between{
    justify-content: space-between;
}


/* PADDING */

.padding-7-15{
    padding: 7px 15px;
}
.padding-10-15{
    padding: 10px 15px;
}
.padding-bot-top{
    padding: 50px 0px 50px 0px;
}
.padding-10{
    padding: 10px;
}
.padding-top{
    padding-top: 100px;
}
.padding-25{
    padding:25px
}

/* MARGINI */

.margin-top{
    margin-top: 20px;
}

.margin-top-10{
    margin-top: 10px
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom{
    margin-bottom:20px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-left{
    margin-left: 30px;
}


/* STILE BORDO */

.border-solid{
    border: 1px solid grey;
}

/* STILE HR */

 .col-33 hr{
    width: 50px;
    color:lightgrey;
}
.border-solid-notop{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.border-notop-center{
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
.border-no-center{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}
/* ASSEGNAZIONE FLEX-WRAP */

.flex-wrap{
    flex-wrap: wrap;
}

/* ALTEZZA COLONNA */

.height-750{
    height: 750px;
}

/* STILE CHECK */

.check{
    color: green
}
/* COLORE SFONDO */

.bg-white{
    background-color: #fff;
    
}
.bg-blue{
    background-color: #0061FF;
    color: white;
    border-style: none;
}
.squares-content{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.square{
    width:50%;
    height: calc(100vw / 6);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.bg-lightgreen{
    background-color: #a2d39b;
    
}
.bg-darkred{
    background-color: #61082b;
}
.bg-azure{
    background-color: #0093ce;
}
.bg-red{
    background-color: #ff1c1c;
}
.bg-scarlet{
    background-color: #d91a33
}
.bg-darkblue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color: #ffd830;
}
.bg-grey{
    background-color: #f5f5f5;
}






.red-text{
    color: #61082a;
}
.design{
    filter: invert();
    
}
.width50{
    max-width: 50%;
}
.height10{
    max-height: 10%;
}

.borderless{
    border-style: none;
}