*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.containerHead{
    max-width: 100%;
    margin: 0 auto;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%  

}
.content{
    width: 100%;
    display: flex; 
}

.align-center{
    align-items: center;
}
.col-50{
    width: 50%;
 
}

/* SECONDO SETTORE */
.bg-cyan{
    background-color:#B4D0E7;
}
.containerMid{
    width: 900px;
    margin: auto;
    
}
.col-30{
    width: 30%;
}
.col-35{
    width: 35%;
    
}
.col-65{
    width: 65%;
    
}
.col-70{
    width: 70%;
}

/* CONTAINER SMALL */
.containerSmall{
    width: 750px;
    margin: auto;
   
}

.col-33{
    width: calc(100% / 3 - 10px);
    
    
}
.col-100{
    width: 100%;
    
   
}
.col-60{
    width: 60%;
    
   
}
.col-40{
    width: 40%;
    
    
}

.height{
    height: 500px
}

.col-16{
    width: calc(100% / 6);
}
.bg-green{
    background-color: green;
}
ul{
    display: flex;
    align-items: center;
    gap: 20px
}
li{
    list-style-type: none ;
    
}
.justify-end{
    justify-content: flex-end
}
.padding-7-15{
    padding: 7px 15px;
}
.padding{
    padding: 10px;
}
img{
    max-width: 100%;
}

h1{
    font-size: 50px;
}
.margin-top{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.fontsize{
    font-size: 14px;
}
i{
    font-size: 40px
}
.padding-top{
    padding-top: 50px;
}
.text-center{
   justify-content: center;
   align-items: center;
}

.border-solid{
    border: 1px solid grey;
}
.text-grey{
    color:lightgray
}
.padding-25{
    padding:25px
}
hr{
    width: 50px;
    color:lightgrey;
}
.display-flex{
    display:flex;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 50px;
}
.height-750{
    height: 750px;
}
.space-between{
    justify-content: space-between;
}

.margin-top-20{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 10px
}
.border-solid-notop{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.border-notop-center{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.border-no-center{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.icon-size{
    font-size: 15px
}
.margin-top-50{
    margin-top: 50px;
}
.content-noflex{
    width: 100%;
    margin: auto
}
.line-heighst{
    line-height: 25px;
}
.check{
    color: green
}
.bg-white{
    background-color: #fff;
    
}
.bg-blue{
    background-color: #0061FF;
    color: white;
    border-style: none;
}

.padding-10-15{
    padding: 10px 15px;
}
